{% extends 'base.html' %}
{% block title %}Login | EduPulse{% endblock %}
{% block content %}
<div class="auth-center">
    <section class="school-hero">
        <p class="school-tag">Welcome To</p>
        <h1>ISLAMPUR GVT.JJKM GIRLS HIGHSCHOOL AND COLLEGE</h1>
    </section>
    <div class="card">
        <h2>Sign In</h2>
        <p class="subtitle">Access your school management dashboard.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}